/* CSS Document */

.pt_lightbox {
	cursor: wait;
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background: #333;
	opacity: .8;
	padding-top: 10%;
    text-align:center;
	z-index: 1500;
}

.pt_lightbox .pt_content {
	background: #000;
	color: #fff;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

.pt_lightbox p {
    color:#fff;
	cursor: pointer;
    font-size:18px;
	margin-left:20px;
    text-align:left; 
}

.pt_lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
}

.pt-item {
	box-sizing: border-box;
	float: left;
	max-width: 320px;
	padding: 10px;
	width: 100%;
}

.pt-item img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.pt-button {
	background-color: #082648;
	border: 1px solid #082648;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin: 6px;
	max-width: 125px;
	padding: 10px;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: center;
	width: 100%;
}

.pt-button:hover {
	background-color: #fff;
	color: #082648;
}

.pt-button a {
	color: #fff;
	text-decoration: none !important;
}

.pt-button:hover a {
	color: #082648;
}

.pt-clear {
	clear: both;
}

.pt-item-header, .pt-item-footer {
	text-align: center;
}

.pt_lightbox_msg {
	color: #fff;
	font-size: 64px;
}